body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Tourney',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-title-menu {
  font-family: 'Poppins', sans-serif;
  font-size: 0.975rem;
  font-weight: 600;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
}

.home-principal-title {
  font-family: 'Tourney', cursive;
  color: white;
}

.home-secondary-title {
  font-family: 'Goldman', cursive;
  color: orangered;
}

.home-title-section {
  font-family: 'Goldman', cursive;
  font-size: 1.5rem;
  display: flexbox;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.home-title-nameBeer {
  font-family: 'Goldman', cursive;
  font-size: 1.75rem;
  color: #fff;
  display: flexbox;
  text-align: center;
  margin-top: 1rem;
}

.home-title-nameBeer2 {
  font-family: 'Poppins', cursive;
  font-size: 1.1rem;
  color: #fff;
  display: flexbox;
  text-align: center;
}

.home-beer-star1 {
  font-family: 'Tourney', cursive;
  font-size: 1.7rem;
  color: rgb(255, 35, 155);
  padding: 0;
  margin: 0;
}

.home-beer-star2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

/* google map */
#google-map {
  padding-top:0;
  padding-bottom:0; 
}

#google-map #map-canvas {
  height:350px;
}

/* buttons */
.button-plus {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #ff4500;
}

.button-nameBeer {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}
.button-plus:hover {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  background-color: #ff4500;
}

.button-news {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border-color: 1px solid #ff4500;
  background-color: #fce96a;
}

/* square */

.square-hours-title {
  font-family: 'Goldman', cursive;
  font-size: 1rem;
  text-transform: uppercase;
}

.square-hours {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
}

/* GREEN */

.green-titles-articles {
  font-family: 'Goldman', cursive;
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.green-text-articles {
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
}


/* CGV */

.cgv-titles {
  font-family: 'Goldman', cursive;
  font-size: 1.5rem;
}

.cgv-subtitles {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.cgv-subtitles2 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
}

.cgv-text {
  font-family: 'Poppins', sans-serif;
  font-size: 0.805rem;
  font-weight: 400;
  line-height: 1.265rem;
}




.footer-logo-title {
  font-size: 1.125rem;
  text-align: left;
}

.footer-titles {
  font-family: 'Tourney', cursive;
  font-size: 1.125rem;
}

.footer-subtitles {
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  line-height: 1.625rem;
  color: black;
}

p {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5rem;
  font-size: 0.875rem;
}